* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.blueBanner {


    background-color: #649DAD;



    .items {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        height: 30px;

        .input {
            // padding-top: 5px;
            // padding-bottom: 5px;
            grid-column-start: 4;
            grid-column-end: 5;
        }

    }



}

.heading {
    font-size: 2rem;
    font-weight: bold;
}

.navbar {
    width: 80%;
    height: 100px;
    margin: auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    .navItems {
        // border: 1px solid red;
        grid-column-start: 3;
        grid-column-end: 5;

        display: flex;
        align-items: center;
        justify-content: space-around;

    }


    .logo {
        // border: 1px solid red;
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        align-items: center;

        img {
            
            height: 100px;
            // width: 64%;
            // max-width: 80px;
        }
    }
}

.banner_below {
    // border: 2px solid blue;
    border-top: 0.2px solid rgb(176, 174, 174);
    border-bottom: 0.2px solid rgb(176, 174, 174);
    width: 80%;
    height: 120px;

    margin: auto;
    display: grid;
    align-items: center;
    grid-template-columns: 25% 25% 25% 25%;

    .option {
        grid-column-start: 4;
        grid-column-end: 5;
        padding: 10px;
    }

    margin-bottom: 20px;
}

.item_listing {
    // background-color: aliceblue;
    width: 80%;
    margin: auto;


    display: grid;
    align-items: center;

    gap: 20px;
    grid-template-columns: 25% 25% 25% 25%;


    .single_item {
        border: 0.1px solid gray;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        // border: 1px solid red;

        h3{
            margin-bottom:10px;
        }

        .image_holder {

            // border: 1px solid green;
            img {
                height: 300px;
                width: 100%;
            }
        }

        .starGroup {
            i {
                // background-color: ;
            }
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;

            color: white;
            background-color: #649DAD;
            border: none;
        }
    }
}

.llitem {
    text-decoration: none;
    list-style: none;
}